--七天齐套预警
/*
ADD(2019-3-4)
在7天未齐套单据列表后面增加一个7-15天未齐套单据列表
ADD(2019-3-6)
添加7天马来物料欠料数据
ADD(2019-3-9)
增加15天齐套率表格
ADD(2019-3-11)
马来修改成15天齐套并添加一个汇总表格
ADD(2019-6-3)
增加安全库存列
8周欠料汇总=所有欠料+安全库存
ADD(2019-6-18)
将内部生产的齐套表格数据剔除
*/
ALTER PROC [dbo].[sp_Auctus_Mail_AllSetCheckWarning]
AS
BEGIN
DECLARE @html NVARCHAR(MAX)=''
DECLARE @Date DATE
DECLARE @Date7 DATE
DECLARE @Date3 DATE
DECLARE @Date15 DATE
DECLARE @Date56 DATE
SET @Date=GETDATE()
SET @Date7=DATEADD(DAY,7,GETDATE()) --7天齐套预警
SET @Date3=DATEADD(DAY,3,GETDATE()) --3天齐套预警
SET @Date15=DATEADD(DAY,15,GETDATE())--15天齐套预警
SET @Date56=DATEADD(DAY,56,GETDATE())--15天齐套预警
--8周起始日期天汇总列表
DECLARE @SD1 DATE,@ED1 DATE
SET @SD1=DATEADD(DAY,1+(-1)*DATEPART(WEEKDAY,GETDATE()),GETDATE())
SET @ED1=DATEADD(DAY,7,@SD1)
SET @Date56=DATEADD(DAY,56,@SD1)--15天齐套预警

IF OBJECT_ID(N'tempdb.dbo.#tempTable',N'U') IS NULL
CREATE TABLE #tempTable
(
DocNo VARCHAR(50),
DocLineNo VARCHAR(10),
PickLineNo VARCHAR(10),
DocType NVARCHAR(20),
ProductID BIGINT,
ProductCode VARCHAR(50),
ProductName NVARCHAR(255),
ProductSPECS NVARCHAR(300),
ProductQty DECIMAL(18,0),
DemandCode VARCHAR(20),
ItemMaster BIGINT,
Code VARCHAR(30),
Name NVARCHAR(255),
SPEC NVARCHAR(600),
SafetyStockQty DECIMAL(18,0),
IssuedQty DECIMAL(18,0),
STDReqQty DECIMAL(18,0),
ActualReqQty DECIMAL(18,0),
ReqQty DECIMAL(18,0),
ActualReqDate DATE,
RN INT,
DemandCode2 VARCHAR(50),
LackAmount INT,
IsLack NVARCHAR(20),
WhavailiableAmount INT,
PRList VARCHAR(MAX),
PRApprovedQty DECIMAL(18,0),
PRFlag NVARCHAR(10),
POList VARCHAR(MAX),
POReqQtyTu DECIMAL(18,0),
RCVList VARCHAR(MAX),
ArriveQtyTU DECIMAL(18,0),
RcvQtyTU DECIMAL(18,0),
RcvFlag NVARCHAR(10),
ResultFlag NVARCHAR(30),
DescFlexField_PrivateDescSeg19 NVARCHAR(300),--客户产品名称
DescFlexField_PrivateDescSeg20 NVARCHAR(300),--项目编码
DescFlexField_PrivateDescSeg21 NVARCHAR(300),--项目代号
DescFlexField_PrivateDescSeg23 NVARCHAR(300),--执行采购员
MRPCode VARCHAR(50),--MRP分类
MRPCategory NVARCHAR(300),--MRP分类
Buyer NVARCHAR(20),--执行采购分类
MCCode VARCHAR(20),--MC负责人编码
MCName NVARCHAR(20),--MC负责人
FixedLT DECIMAL(18,0),--固定提前期
ProductLine NVARCHAR(255)--产品系列
)
ELSE
TRUNCATE TABLE #tempTable
INSERT INTO #tempTable EXEC sp_Auctus_AllSetCheckWithDemandCode2 1001708020135665,'','','',@Date56,'1','1','0'

--备份8周齐套数据
INSERT INTO Auctus_FullSetCheckResult8 SELECT *,DATEPART(YEAR,@Date),DATEPART(MONTH,@Date),GETDATE() FROM #tempTable

----删除1条缺料的数据都没有的料号
--DELETE FROM #tempTable WHERE Code IN (
--SELECT t.Code
--FROM (
--SELECT a.Code,CASE WHEN a.islack='缺料' THEN 1 ELSE 0 END flag FROM #tempTable a) t
--GROUP BY t.Code
--HAVING SUM(t.flag)=0
--)


--马来15天未齐套
IF object_id('tempdb.dbo.#tempMalai',N'U') is NULL
BEGIN
CREATE TABLE #tempMalai
(	 
DocNo VARCHAR(50),--委外单
DocLineNo VARCHAR(50),	
SOList VARCHAR(MAX), 
DocType NVARCHAR(20),
Itemmaster BIGINT,
Code VARCHAR(50),--备料
Name NVARCHAR(300),
SPEC NVARCHAR(600),     
ActualReqDate DATETIME,--实际需求日
Qty DECIMAL(18,0),--数量
DeliveredQty DECIMAL(18,0),--已出货数量
ReqQty DECIMAL(18,0),--实际需求数量-已发数量
LackAmount DECIMAL(18,0),--缺料数量
IsLack nvarchar(10),--齐套标识
WhAvailiableAmount DECIMAL(18,0),--库存可用量
MRPCategory NVARCHAR(15),
MRPCode VARCHAR(50),
Operators NVARCHAR(10),--执行采购
RN INT	 ,
ProductLine NVARCHAR(255)--产品系列
)
END
ELSE 
BEGIN
TRUNCATE TABLE #tempMalai
END
 INSERT INTO #tempMalai
 EXEC sp_Auctus_MalaiSetCheck 1001708020135665,'125','2000-01-01',@Date56
 
 INSERT INTO Auctus_Malai SELECT *,GETDATE() FROM #tempMalai 
 
-- --删除1条缺料的数据都没有的料号
--DELETE FROM #tempMalai WHERE Code IN (
--SELECT t.Code
--FROM (
--SELECT a.Code,CASE WHEN a.islack='缺料' THEN 1 ELSE 0 END flag FROM #tempMalai a) t
--GROUP BY t.Code
--HAVING SUM(t.flag)=0
--)

IF OBJECT_ID(N'tempdb.dbo.#tempResult',N'U') IS NULL
CREATE TABLE #tempResult
(
Operator NVARCHAR(20),
MRPCategory VARCHAR(50),
MRPCode VARCHAR(50),
totalCount INT,
LackCount INT,
UnLackCount INT,
Rate VARCHAR(20),
Type int
)
ELSE
TRUNCATE TABLE #tempResult




--3天齐套料品数据
;
WITH data1 AS
(
SELECT DISTINCT a.Code,a.MRPCategory,a.MRPCode
,CASE WHEN a.MRPCategory='电子' OR a.MRPCategory='结构' OR a.MRPCategory='包材' THEN ISNULL(a.Buyer,'')
ELSE ISNULL(a.MCName,'')END   Operator --负责人：有采购取采购 ，无采购取PMC
,CASE WHEN  a.IsLack='缺料'THEN 1
ELSE 0 END ResultFlag--缺料标识
FROM #tempTable a --LEFT JOIN dbo.CBO_Operators b ON a.DescFlexField_PrivateDescSeg23=b.Code LEFT JOIN dbo.CBO_Operators_Trl b1 ON b.ID=b1.ID AND ISNULL(b1.SysMLFlag,'zh-cn')='zh-cn'
WHERE (ISNULL(a.MRPCategory,'')<>'' or ISNULL(a.Buyer,'')<>'') AND a.ActualReqDate<@Date3
),
Result AS
(
SELECT a.Code,a.MRPCategory,a.MRPCode,ISNULL(a.Operator,'')Operator,SUM(a.ResultFlag)Result--Result=1，说明有缺料的数据，Result=0说明只有齐套数据 
FROM data1 a GROUP BY a.Code,a.MRPCategory,a.MRPCode,a.Operator
),
Result2 AS
(
SELECT a.Operator,a.MRPCategory,a.MRPCode,COUNT(a.Code)LackCount FROM Result  a WHERE a.Result>0 GROUP BY a.Operator,a.MRPCategory,a.MRPCode
),
Result3 AS
(
SELECT a.Operator,a.MRPCategory,a.MRPCode,COUNT(a.Code)totalCount FROM Result  a GROUP BY a.Operator,a.MRPCategory,a.MRPCode
)
INSERT INTO #tempResult
SELECT a.*,ISNULL(b.LackCount,0)LackCount,a.totalCount-ISNULL(b.LackCount,0) UnLackCount
,CONVERT(VARCHAR(20),CONVERT(DECIMAL(18,2),(a.totalCount-ISNULL(b.LackCount,0))/CONVERT(DECIMAL(18,4),a.totalCount)*100))+'%' Rate
,3
FROM Result3 a LEFT JOIN Result2 b ON a.Operator=b.Operator AND a.MRPCategory=b.MRPCategory

--7天齐套料品数据
;
WITH data1 AS
(
SELECT DISTINCT a.Code,a.MRPCategory,a.MRPCode
,CASE WHEN a.MRPCategory='电子' OR a.MRPCategory='结构' OR a.MRPCategory='包材' THEN ISNULL(a.Buyer,'')
ELSE ISNULL(a.MCName,'')END Operator --负责人：有采购取采购 ，无采购取PMC
,CASE WHEN a.IsLack='缺料'THEN 1
ELSE 0 END ResultFlag--缺料标识
FROM #tempTable a --LEFT JOIN dbo.CBO_Operators b ON a.DescFlexField_PrivateDescSeg23=b.Code LEFT JOIN dbo.CBO_Operators_Trl b1 ON b.ID=b1.ID AND ISNULL(b1.SysMLFlag,'zh-cn')='zh-cn'
WHERE (ISNULL(a.MRPCategory,'')<>'' or ISNULL(a.Buyer,'')<>'') AND a.ActualReqDate<@Date7
),
Result AS
(
SELECT a.Code,a.MRPCategory,a.MRPCode,ISNULL(a.Operator,'')Operator,SUM(a.ResultFlag)Result--Result=1，说明有缺料的数据，Result=0说明只有齐套数据 
FROM data1 a GROUP BY a.Code,a.MRPCategory,a.MRPCode,a.Operator
),
Result2 AS
(
SELECT a.Operator,a.MRPCategory,a.MRPCode,COUNT(a.Code)LackCount FROM Result  a WHERE a.Result>0 GROUP BY a.Operator,a.MRPCategory,a.MRPCode
),
Result3 AS
(
SELECT a.Operator,a.MRPCategory,a.MRPCode,COUNT(a.Code)totalCount FROM Result  a GROUP BY a.Operator,a.MRPCategory,a.MRPCode
)
INSERT INTO #tempResult
SELECT a.*,ISNULL(b.LackCount,0)LackCount,a.totalCount-ISNULL(b.LackCount,0) UnLackCount
,CONVERT(VARCHAR(20),CONVERT(DECIMAL(18,2),(a.totalCount-ISNULL(b.LackCount,0))/CONVERT(DECIMAL(18,4),a.totalCount)*100))+'%' Rate
,7
FROM Result3 a LEFT JOIN Result2 b ON a.Operator=b.Operator AND a.MRPCategory=b.MRPCategory

--15天齐套料品数据
;
WITH data1 AS
(
SELECT DISTINCT a.Code,a.MRPCategory,a.MRPCode
,CASE WHEN a.MRPCategory='电子' OR a.MRPCategory='结构' OR a.MRPCategory='包材' THEN ISNULL(a.Buyer,'')
ELSE ISNULL(a.MCName,'')END Operator --负责人：有采购取采购 ，无采购取PMC
,CASE WHEN  a.IsLack='缺料'THEN 1
ELSE 0 END ResultFlag--缺料标识
FROM #tempTable a --LEFT JOIN dbo.CBO_Operators b ON a.DescFlexField_PrivateDescSeg23=b.Code LEFT JOIN dbo.CBO_Operators_Trl b1 ON b.ID=b1.ID AND ISNULL(b1.SysMLFlag,'zh-cn')='zh-cn'
WHERE (ISNULL(a.MRPCategory,'')<>'' or ISNULL(a.Buyer,'')<>'') AND a.ActualReqDate<@Date15
),
Result AS
(
SELECT a.Code,a.MRPCategory,a.MRPCode,ISNULL(a.Operator,'')Operator,SUM(a.ResultFlag)Result--Result=1，说明有缺料的数据，Result=0说明只有齐套数据 
FROM data1 a GROUP BY a.Code,a.MRPCategory,a.MRPCode,a.Operator
),
Result2 AS
(
SELECT a.Operator,a.MRPCategory,a.MRPCode,COUNT(a.Code)LackCount FROM Result  a WHERE a.Result>0 GROUP BY a.Operator,a.MRPCategory,a.MRPCode
),
Result3 AS
(
SELECT a.Operator,a.MRPCategory,a.MRPCode,COUNT(a.Code)totalCount FROM Result  a GROUP BY a.Operator,a.MRPCategory,a.MRPCode
)
INSERT INTO #tempResult
SELECT a.*,ISNULL(b.LackCount,0)LackCount,a.totalCount-ISNULL(b.LackCount,0) UnLackCount
,CONVERT(VARCHAR(20),CONVERT(DECIMAL(18,2),(a.totalCount-ISNULL(b.LackCount,0))/CONVERT(DECIMAL(18,4),a.totalCount)*100))+'%' Rate
,15
FROM Result3 a LEFT JOIN Result2 b ON a.Operator=b.Operator AND a.MRPCategory=b.MRPCategory


--15天马来天齐套料品数据
;
WITH data1 AS
(
SELECT DISTINCT a.Code,a.MRPCategory,a.MRPCode
,a.Operators Operator --负责人：有采购取采购 ，无采购取PMC
,CASE WHEN a.IsLack='缺料'THEN 1
ELSE 0 END ResultFlag--缺料标识
FROM #tempMalai a --LEFT JOIN dbo.CBO_Operators b ON a.DescFlexField_PrivateDescSeg23=b.Code LEFT JOIN dbo.CBO_Operators_Trl b1 ON b.ID=b1.ID AND ISNULL(b1.SysMLFlag,'zh-cn')='zh-cn'
WHERE (ISNULL(a.MRPCategory,'')<>'' or ISNULL(a.Operators,'')<>'') AND a.ActualReqDate<@Date15
),
Result AS
(
SELECT a.Code,a.MRPCategory,a.MRPCode,a.Operator,SUM(a.ResultFlag)Result--Result=1，说明有缺料的数据，Result=0说明只有齐套数据 
FROM data1 a GROUP BY a.Code,a.MRPCategory,a.MRPCode,a.Operator
),
Result2 AS
(
SELECT a.Operator,a.MRPCategory,a.MRPCode,COUNT(a.Code)LackCount FROM Result  a WHERE a.Result>0 GROUP BY a.Operator,a.MRPCategory,a.MRPCode
),
Result3 AS
(
SELECT a.Operator,a.MRPCategory,a.MRPCode,COUNT(a.Code)totalCount FROM Result  a GROUP BY a.Operator,a.MRPCategory,a.MRPCode
)
INSERT INTO #tempResult
SELECT a.*,ISNULL(b.LackCount,0)LackCount,a.totalCount-ISNULL(b.LackCount,0) UnLackCount
,CONVERT(VARCHAR(20),CONVERT(DECIMAL(18,2),(a.totalCount-ISNULL(b.LackCount,0))/CONVERT(DECIMAL(18,4),a.totalCount)*100))+'%' Rate
,152
FROM Result3 a LEFT JOIN Result2 b ON a.Operator=b.Operator AND a.MRPCategory=b.MRPCategory

--按人员统计工单齐套率
;
WITH data1 AS
(
SELECT c1.Name Op,b.DescFlexField_PrivateDescSeg22 ProMRP,a.*
,CASE WHEN a.ActualReqDate<@Date3 THEN 1 ELSE 0 END IS3
,CASE WHEN a.ActualReqDate<@Date7 THEN 1 ELSE 0 END IS7
,CASE WHEN a.ActualReqDate<@Date15 THEN 1 ELSE 0 END IS15
FROM #tempTable a LEFT JOIN dbo.CBO_ItemMaster b ON a.ProductID=b.ID
LEFT JOIN dbo.CBO_Operators c ON b.DescFlexField_PrivateDescSeg23=c.Code LEFT JOIN dbo.CBO_Operators_Trl c1 ON c.ID=c1.ID
WHERE a.ActualReqDate<@Date15 AND a.MRPCategory<>'内部生产' AND b.DescFlexField_PrivateDescSeg22 NOT IN ('MRP104','MRP105','MRP106')
),
TotalCount3 AS
(
SELECT a.Op,COUNT(a.DocNo)total,33 T FROM 
(SELECT DISTINCT a.ProMRP,a.Op,a.DocNo FROM data1 a WHERE a.IS3=1) a GROUP BY a.Op
),
UnTotalCount3 AS
(
SELECT a.Op,COUNT(a.DocNo)untotal,33 T FROM 
(SELECT DISTINCT a.ProMRP,a.Op,a.DocNo,a.IsLack FROM data1 a WHERE a.IS3=1 AND a.IsLack='缺料')a GROUP BY a.Op
),
TotalCount7 AS
(
SELECT a.Op,COUNT(a.DocNo)total,77 T FROM 
(SELECT DISTINCT a.ProMRP,a.Op,a.DocNo FROM data1 a WHERE a.IS7=1) a GROUP BY a.Op
),
UnTotalCount7 AS
(
SELECT a.Op,COUNT(a.DocNo)untotal,77 T FROM 
(SELECT DISTINCT a.ProMRP,a.Op,a.DocNo,a.IsLack FROM data1 a WHERE a.IS7=1 AND a.IsLack='缺料')a GROUP BY a.Op
),
TotalCount15 AS
(
SELECT a.Op,COUNT(a.DocNo)total,1515 T FROM 
(SELECT DISTINCT a.ProMRP,a.Op,a.DocNo FROM data1 a WHERE a.IS15=1) a GROUP BY a.Op
),
UnTotalCount15 AS
(
SELECT a.Op,COUNT(a.DocNo)untotal,1515 T FROM 
(SELECT DISTINCT a.ProMRP,a.Op,a.DocNo,a.IsLack FROM data1 a WHERE a.IS15=1 AND a.IsLack='缺料')a GROUP BY a.Op
)
INSERT INTO #tempResult
SELECT a.Op,'','',a.total,ISNULL(b.untotal,0)untotal,a.total-ISNULL(b.untotal,0),CONVERT(VARCHAR(20),CONVERT(DECIMAL(18,2),(a.total-ISNULL(b.untotal,0))/CONVERT(DECIMAL(18,4),a.total)*100))+'%' Rate,a.T FROM TotalCount3 a LEFT JOIN UnTotalCount3 b ON a.Op=b.Op
UNION
SELECT a.Op,'','',a.total,ISNULL(b.untotal,0)untotal,a.total-ISNULL(b.untotal,0),CONVERT(VARCHAR(20),CONVERT(DECIMAL(18,2),(a.total-ISNULL(b.untotal,0))/CONVERT(DECIMAL(18,4),a.total)*100))+'%' Rate,a.T FROM TotalCount7 a LEFT JOIN UnTotalCount7 b ON a.Op=b.Op
UNION
SELECT a.Op,'','',a.total,ISNULL(b.untotal,0)untotal,a.total-ISNULL(b.untotal,0),CONVERT(VARCHAR(20),CONVERT(DECIMAL(18,2),(a.total-ISNULL(b.untotal,0))/CONVERT(DECIMAL(18,4),a.total)*100))+'%' Rate,a.T FROM TotalCount15 a LEFT JOIN UnTotalCount15 b ON a.Op=b.Op


;
WITH data1 AS
(
SELECT a.DocNo,a.Code,a.IsLack,a.Buyer 
,CASE WHEN a.ActualReqDate<@Date3 THEN 1 ELSE '' END IS3
,CASE WHEN a.ActualReqDate<@Date7 THEN 1 ELSE '' END IS7
,CASE WHEN a.ActualReqDate<@Date15 THEN 1 ELSE '' END IS15
FROM #tempTable a WHERE a.MRPCategory IN ('电子','结构','包材')
AND a.ActualReqDate<@Date15
),
Total AS
(
SELECT a.Buyer,COUNT(a.DocNo)Total,33 T FROM (SELECT DISTINCT a.DocNo,a.Buyer,a.IS3,a.IS7,a.IS15 FROM data1 a) a WHERE a.IS3=1
GROUP BY a.Buyer
UNION 
SELECT a.Buyer,COUNT(a.DocNo)Total,77 T FROM (SELECT DISTINCT a.DocNo,a.Buyer,a.IS3,a.IS7,a.IS15 FROM data1 a) a WHERE a.IS7=1
GROUP BY a.Buyer
UNION 
SELECT a.Buyer,COUNT(a.DocNo)Total,1515 T FROM (SELECT DISTINCT a.DocNo,a.Buyer,a.IS3,a.IS7,a.IS15 FROM data1 a) a WHERE a.IS15=1
GROUP BY a.Buyer
),
UnTotal AS
(
SELECT a.Buyer,COUNT(a.DocNo)Total,33 T FROM (SELECT DISTINCT a.DocNo,a.Buyer,a.IS3,a.IS7,a.IS15 FROM data1 a WHERE a.IsLack='缺料') a WHERE a.IS3=1
GROUP BY a.Buyer
UNION 
SELECT a.Buyer,COUNT(a.DocNo)Total,77 T FROM (SELECT DISTINCT a.DocNo,a.Buyer,a.IS3,a.IS7,a.IS15 FROM data1 a WHERE a.IsLack='缺料') a WHERE a.IS7=1
GROUP BY a.Buyer
UNION 
SELECT a.Buyer,COUNT(a.DocNo)Total,1515 T FROM (SELECT DISTINCT a.DocNo,a.Buyer,a.IS3,a.IS7,a.IS15 FROM data1 a WHERE a.IsLack='缺料') a WHERE a.IS15=1
GROUP BY a.Buyer

)
INSERT INTO #tempResult
SELECT a.Buyer,'','',a.Total,ISNULL(b.Total,0) UnTotal,a.Total-ISNULL(b.Total,0),CONVERT(VARCHAR(20),CONVERT(DECIMAL(18,2),(a.Total-ISNULL(b.Total,0))/CONVERT(DECIMAL(18,4),a.Total)*100))+'%',a.T FROM Total a LEFT JOIN UnTotal b ON a.Buyer=b.Buyer AND a.T=b.T




--3x天工单齐套率
DECLARE @totalMOFullSetRate3 VARCHAR(20)
DECLARE @totalMONum3 INT
DECLARE @totalUnMoNum3 INT
SELECT @totalMONum3=COUNT(DISTINCT a.DocNo) FROM #tempTable a WHERE a.ActualReqDate<@Date3 AND a.MRPCategory<>'内部生产'
SELECT @totalUnMoNum3=COUNT(DISTINCT a.DocNo) FROM #tempTable a 
WHERE (a.IsLack='缺料') AND a.ActualReqDate<@Date3 AND a.MRPCategory<>'内部生产'
SELECT @totalMOFullSetRate3=CONVERT(VARCHAR(30),CONVERT(DECIMAL(18,2),(@totalMONum3-@totalUnMoNum3)/CONVERT(DECIMAL(18,4),@totalMONum3)*100))+'%'
SET @html=N'<h2 style="color:red;font-weight:bold;">3天齐套率（齐套工单/总工单数）：'+CONVERT(VARCHAR(30),(@totalMONum3-@totalUnMoNum3))+'/'+CONVERT(VARCHAR(30),@totalMONum3)+'='+@totalMOFullSetRate3+'</h2>'


--功放3x天工单齐套率
DECLARE @totalMOFullSetRate1003 VARCHAR(20)
DECLARE @totalMONum1003 INT
DECLARE @totalUnMoNum1003 INT
SELECT @totalMONum1003=COUNT(DISTINCT a.DocNo) FROM #tempTable a WHERE a.ActualReqDate<@Date3 AND a.ProductLine='功放' AND a.MRPCategory<>'内部生产'
SELECT @totalUnMoNum1003=COUNT(DISTINCT a.DocNo) FROM #tempTable a 
WHERE (a.IsLack='缺料') AND a.ActualReqDate<@Date3 AND a.ProductLine='功放' AND a.MRPCategory<>'内部生产'
IF @totalMONum1003<>0
BEGIN
SELECT @totalMOFullSetRate1003=CONVERT(VARCHAR(30),CONVERT(DECIMAL(18,2),(@totalMONum1003-@totalUnMoNum1003)/CONVERT(DECIMAL(18,4),@totalMONum1003)*100))+'%'
SET @html=@html+N'<h2 style="color:red;font-weight:bold;">功放3天齐套率（齐套工单/总工单数）：'+CONVERT(VARCHAR(30),(@totalMONum1003-@totalUnMoNum1003))+'/'+CONVERT(VARCHAR(30),@totalMONum1003)+'='+@totalMOFullSetRate1003+'</h2>'
END 

--对讲机3x天工单齐套率 --对讲机的工单数=总工单数-功放工单数
DECLARE @totalMOFullSetRate2003 VARCHAR(20)
DECLARE @totalMONum2003 INT=@totalMONum3-@totalMONum1003
DECLARE @totalUnMoNum2003 INT=@totalUnMoNum3-@totalUnMoNum1003
SELECT @totalMOFullSetRate2003=CONVERT(VARCHAR(30),CONVERT(DECIMAL(18,2),(@totalMONum2003-@totalUnMoNum2003)/CONVERT(DECIMAL(18,4),@totalMONum2003)*100))+'%'
SET @html=@html+N'<h2 style="color:red;font-weight:bold;">对讲机3天齐套率（齐套工单/总工单数）：'+CONVERT(VARCHAR(30),(@totalMONum2003-@totalUnMoNum2003))+'/'+CONVERT(VARCHAR(30),@totalMONum2003)+'='+@totalMOFullSetRate2003+'</h2>'


SELECT @html=@html+N'<H2 bgcolor="#7CFC00">3天齐套率(齐套的料号/总的料号数量)</H2>'
+N'<table border="1">'
+N'<tr bgcolor="#cae7fc"><th nowrap="nowrap">类别</th><th nowrap="nowrap">负责人</th><th nowrap="nowrap">MRP分类</th><th nowrap="nowrap">物料数量</th><th nowrap="nowrap">未齐套物料数</th>
<th nowrap="nowrap">齐套物料数</th><th nowrap="nowrap">料号齐套率</th><th nowrap="nowrap">工单总数</th><th nowrap="nowrap">齐套工单数</th><th nowrap="nowrap">工单齐套率</th></tr>'
+ISNULL(CAST((SELECT td='原材料','',td=ISNULL(a.Operator,''),'',td=a.MRPCategory,''
,td=a.totalCount,'',td=a.LackCount,'',td=a.UnLackCount,'',td=a.Rate,'',td=ISNULL(b.totalCount,0),'',td=ISNULL(b.UnLackCount,0),'',td=ISNULL(b.Rate,'')
FROM #tempResult a LEFT JOIN #tempResult b ON a.Operator=b.Operator AND b.type=33
WHERE a.type=3 AND a.MRPCode IN ('MRP104','MRP105','MRP106') 
ORDER BY a.Type,a.MRPCode  FOR XML PATH('tr'),TYPE)AS nvarchar(MAX)),'')

SELECT @html=@html+N''
+ISNULL(CAST((SELECT td='产成品','', td=ISNULL(a.Operator,''),'',td=a.MRPCategory,''
,td=a.totalCount,'',td=a.LackCount,'',td=a.UnLackCount,'',td=a.Rate,'',td=ISNULL(b.totalCount,0),'',td=ISNULL(b.UnLackCount,0),'',td=ISNULL(b.Rate,'')
FROM #tempResult a LEFT JOIN #tempResult b ON a.Operator=b.Operator AND b.type=33
WHERE a.type=3 AND a.MRPCode IN ('MRP100','MRP101','MRP102','MRP103','MRP107') 
ORDER BY a.Type,a.MRPCode  FOR XML PATH('tr'),TYPE)AS nvarchar(MAX)),'')+N'</table><br/>'





--7天工单齐套率
DECLARE @totalMOFullSetRate7 VARCHAR(20)
DECLARE @totalMONum7 INT
DECLARE @totalUnMoNum7 INT
SELECT @totalMONum7=COUNT(DISTINCT a.DocNo) FROM #tempTable a WHERE a.ActualReqDate<@Date7 AND a.MRPCategory<>'内部生产'
SELECT @totalUnMoNum7=COUNT(DISTINCT a.DocNo) FROM #tempTable a
WHERE ( a.IsLack='缺料') AND  a.ActualReqDate<@Date7 AND a.MRPCategory<>'内部生产'
SELECT @totalMOFullSetRate7=CONVERT(VARCHAR(30),CONVERT(DECIMAL(18,2),(@totalMONum7-@totalUnMoNum7)/CONVERT(DECIMAL(18,4),@totalMONum7)*100))+'%'
SET @html=@html+N'<h2 style="color:red;font-weight:bold;">七天齐套率（齐套工单/总工单数）：'+CONVERT(VARCHAR(30),(@totalMONum7-@totalUnMoNum7))+'/'+CONVERT(VARCHAR(30),@totalMONum7)+'='+@totalMOFullSetRate7+'</h2>'

--功放7x天工单齐套率
DECLARE @totalMOFullSetRate1007 VARCHAR(20)
DECLARE @totalMONum1007 INT
DECLARE @totalUnMoNum1007 INT
SELECT @totalMONum1007=COUNT(DISTINCT a.DocNo) FROM #tempTable a WHERE a.ActualReqDate<@Date7 AND a.ProductLine='功放' AND a.MRPCategory<>'内部生产'
SELECT @totalUnMoNum1007=COUNT(DISTINCT a.DocNo) FROM #tempTable a 
WHERE (a.IsLack='缺料') AND a.ActualReqDate<@Date7 AND a.ProductLine='功放' AND a.MRPCategory<>'内部生产'
IF @totalMONum1007<>0
BEGIN
	SELECT @totalMOFullSetRate1007=CONVERT(VARCHAR(30),CONVERT(DECIMAL(18,2),(@totalMONum1007-@totalUnMoNum1007)/CONVERT(DECIMAL(18,4),@totalMONum1007)*100))+'%'
	SET @html=@html+N'<h2 style="color:red;font-weight:bold;">功放7天齐套率（齐套工单/总工单数）：'+CONVERT(VARCHAR(30),(@totalMONum1007-@totalUnMoNum1007))+'/'+CONVERT(VARCHAR(30),@totalMONum1007)+'='+@totalMOFullSetRate1007+'</h2>'
END 
--对讲机7x天工单齐套率 --对讲机的工单数=总工单数-功放工单数
DECLARE @totalMOFullSetRate2007 VARCHAR(20)
DECLARE @totalMONum2007 INT=@totalMONum7-@totalMONum1007
DECLARE @totalUnMoNum2007 INT=@totalUnMoNum7-@totalUnMoNum1007
SELECT @totalMOFullSetRate2007=CONVERT(VARCHAR(30),CONVERT(DECIMAL(18,2),(@totalMONum2007-@totalUnMoNum2007)/CONVERT(DECIMAL(18,4),@totalMONum2007)*100))+'%'
SET @html=@html+N'<h2 style="color:red;font-weight:bold;">对讲机7天齐套率（齐套工单/总工单数）：'+CONVERT(VARCHAR(30),(@totalMONum2007-@totalUnMoNum2007))+'/'+CONVERT(VARCHAR(30),@totalMONum2007)+'='+@totalMOFullSetRate2007+'</h2>'



SELECT @html=@html+N'<H2 bgcolor="#7CFC00">7天齐套率(齐套的料号/总的料号数量)</H2>'
+N'<table border="1">'
+N'<tr bgcolor="#cae7fc"><th nowrap="nowrap">类别</th><th nowrap="nowrap">负责人</th><th nowrap="nowrap">MRP分类</th><th nowrap="nowrap">物料数量</th><th nowrap="nowrap">未齐套物料数</th>
<th nowrap="nowrap">齐套物料数</th><th nowrap="nowrap">料号齐套率</th><th nowrap="nowrap">工单总数</th><th nowrap="nowrap">齐套工单数</th><th nowrap="nowrap">工单齐套率</th></tr>'
+ISNULL(CAST((SELECT td='原材料','',td=ISNULL(a.Operator,''),'',td=a.MRPCategory,''
,td=a.totalCount,'',td=a.LackCount,'',td=a.UnLackCount,'',td=a.Rate,'',td=ISNULL(b.totalCount,0),'',td=ISNULL(b.UnLackCount,0),'',td=ISNULL(b.Rate,'')
FROM #tempResult a LEFT JOIN #tempResult b ON a.Operator=b.Operator AND b.Type=77
WHERE a.type=7 AND a.MRPCode IN ('MRP104','MRP105','MRP106')
ORDER BY a.Type,a.MRPCode  FOR XML PATH('tr'),TYPE)AS nvarchar(MAX)),'')

SELECT @html=@html+N''
+ISNULL(CAST((SELECT td='产成品','',td=ISNULL(a.Operator,''),'',td=a.MRPCategory,''
,td=a.totalCount,'',td=a.LackCount,'',td=a.UnLackCount,'',td=a.Rate,'',td=ISNULL(b.totalCount,0),'',td=ISNULL(b.UnLackCount,0),'',td=ISNULL(b.Rate,'')
FROM #tempResult a LEFT JOIN #tempResult b ON a.Operator=b.Operator AND b.Type=77
WHERE a.type=7 AND a.MRPCode IN ('MRP100','MRP101','MRP102','MRP103','MRP107')
ORDER BY a.Type,a.MRPCode  FOR XML PATH('tr'),TYPE)AS nvarchar(MAX)),'')+N'</table><br/>'


--15天工单齐套率
DECLARE @totalMOFullSetRate15 VARCHAR(20)
DECLARE @totalMONum15 INT
DECLARE @totalUnMoNum15 INT
SELECT @totalMONum15=COUNT(DISTINCT a.DocNo) FROM #tempTable a WHERE a.ActualReqDate<@Date15 AND a.MRPCategory<>'内部生产'
SELECT @totalUnMoNum15=COUNT(DISTINCT a.DocNo) FROM #tempTable a
WHERE ( a.IsLack='缺料')  AND a.ActualReqDate<@Date15 AND a.MRPCategory<>'内部生产'
SELECT @totalMOFullSetRate15=CONVERT(VARCHAR(30),CONVERT(DECIMAL(18,2),(@totalMONum15-@totalUnMoNum15)/CONVERT(DECIMAL(18,4),@totalMONum15)*100))+'%'
SET @html=@html+N'<h2 style="color:red;font-weight:bold;">15天齐套率（齐套工单/总工单数）：'+CONVERT(VARCHAR(30),(@totalMONum15-@totalUnMoNum15))+'/'+CONVERT(VARCHAR(30),@totalMONum15)+'='+@totalMOFullSetRate15+'</h2>'


--功放15x天工单齐套率
DECLARE @totalMOFullSetRate10015 VARCHAR(20)
DECLARE @totalMONum10015 INT
DECLARE @totalUnMoNum10015 INT
SELECT @totalMONum10015=COUNT(DISTINCT a.DocNo) FROM #tempTable a WHERE a.ActualReqDate<@Date15 AND a.ProductLine='功放' AND a.MRPCategory<>'内部生产'
SELECT @totalUnMoNum10015=COUNT(DISTINCT a.DocNo) FROM #tempTable a 
WHERE  (a.IsLack='缺料') AND a.ActualReqDate<@Date15 AND a.ProductLine='功放' AND a.MRPCategory<>'内部生产'
IF @totalmonum10015<>0
BEGIN
	SELECT @totalMOFullSetRate10015=CONVERT(VARCHAR(30),CONVERT(DECIMAL(18,2),(@totalMONum10015-@totalUnMoNum10015)/CONVERT(DECIMAL(18,4),@totalMONum10015)*100))+'%'
	SET @html=@html+N'<h2 style="color:red;font-weight:bold;">功放15天齐套率（齐套工单/总工单数）：'+CONVERT(VARCHAR(30),(@totalMONum10015-@totalUnMoNum10015))+'/'+CONVERT(VARCHAR(30),@totalMONum10015)+'='+@totalMOFullSetRate10015+'</h2>'
END 
--对讲机15x天工单齐套率 --对讲机的工单数=总工单数-功放工单数
DECLARE @totalMOFullSetRate20015 VARCHAR(20)
DECLARE @totalMONum20015 INT=@totalMONum15-@totalMONum10015
DECLARE @totalUnMoNum20015 INT=@totalUnMoNum15-@totalUnMoNum10015
SELECT @totalMOFullSetRate20015=CONVERT(VARCHAR(30),CONVERT(DECIMAL(18,2),(@totalMONum20015-@totalUnMoNum20015)/CONVERT(DECIMAL(18,4),@totalMONum20015)*100))+'%'
SET @html=@html+N'<h2 style="color:red;font-weight:bold;">对讲机15天齐套率（齐套工单/总工单数）：'+CONVERT(VARCHAR(30),(@totalMONum20015-@totalUnMoNum20015))+'/'+CONVERT(VARCHAR(30),@totalMONum20015)+'='+@totalMOFullSetRate20015+'</h2>'


SELECT @html=@html+N'<H2 bgcolor="#7CFC00">15天齐套率(齐套的料号/总的料号数量)</H2>'
+N'<table border="1">'
+N'<tr bgcolor="#cae7fc"><th nowrap="nowrap">类别</th><th nowrap="nowrap">负责人</th><th nowrap="nowrap">MRP分类</th><th nowrap="nowrap">物料数量</th><th nowrap="nowrap">未齐套物料数</th>
<th nowrap="nowrap">齐套物料数</th><th nowrap="nowrap">料号齐套率</th><th nowrap="nowrap">工单总数</th><th nowrap="nowrap">齐套工单数</th><th nowrap="nowrap">工单齐套率</th></tr>'
+ISNULL(CAST((SELECT td='原材料','',td=ISNULL(a.Operator,''),'',td=a.MRPCategory,''
,td=a.totalCount,'',td=a.LackCount,'',td=a.UnLackCount,'',td=a.Rate,'',td=ISNULL(b.totalCount,0),'',td=ISNULL(b.UnLackCount,0),'',td=ISNULL(b.Rate,'')
FROM #tempResult a LEFT JOIN #tempResult b ON a.Operator=b.Operator AND b.Type=1515
WHERE a.type=15 AND a.MRPCode IN ('MRP104','MRP105','MRP106') 
ORDER BY a.Type,a.MRPCode  FOR XML PATH('tr'),TYPE)AS nvarchar(MAX)),'')

SELECT @html=@html+N''
+ISNULL(CAST((SELECT td='产成品','',td=ISNULL(a.Operator,''),'',td=a.MRPCategory,''
,td=a.totalCount,'',td=a.LackCount,'',td=a.UnLackCount,'',td=a.Rate,'',td=ISNULL(b.totalCount,0),'',td=ISNULL(b.UnLackCount,0),'',td=ISNULL(b.Rate,'')
FROM #tempResult a  LEFT JOIN #tempResult b ON a.Operator=b.Operator AND b.Type=1515
WHERE a.type=15 AND a.MRPCode IN ('MRP100','MRP101','MRP102','MRP103','MRP107')
ORDER BY a.Type,a.MRPCode  FOR XML PATH('tr'),TYPE)AS nvarchar(MAX)),'')+N'</table><br/>'


SELECT @html=@html+N'<H2 bgcolor="#7CFC00">马来15天齐套率(齐套的料号/总的料号数量)</H2>'
+N'<table border="1">'
+N'<tr bgcolor="#cae7fc"><th nowrap="nowrap">类别</th><th nowrap="nowrap">负责人</th><th nowrap="nowrap">MRP分类</th><th nowrap="nowrap">物料数量</th><th nowrap="nowrap">未齐套物料数</th>
<th nowrap="nowrap">齐套物料数</th><th nowrap="nowrap">齐套率</th></tr>'
+ISNULL(CAST((SELECT td='原材料','',td=ISNULL(a.Operator,''),'',td=a.MRPCategory,''
,td=a.totalCount,'',td=a.LackCount,'',td=a.UnLackCount,'',td=a.Rate
FROM #tempResult a 
WHERE a.type=152 AND a.MRPCode IN ('MRP104','MRP105','MRP106')
ORDER BY a.Type,a.MRPCode  FOR XML PATH('tr'),TYPE)AS nvarchar(MAX)),'')
--
SELECT @html=@html+N''
+ISNULL(CAST((SELECT td='产成品','', td=ISNULL(a.Operator,''),'',td=a.MRPCategory,''
,td=a.totalCount,'',td=a.LackCount,'',td=a.UnLackCount,'',td=a.Rate
FROM #tempResult a 
WHERE a.type=152 AND a.MRPCode IN ('MRP100','MRP101','MRP102','MRP103','MRP107')
ORDER BY a.Type,a.MRPCode  FOR XML PATH('tr'),TYPE)AS nvarchar(MAX)),'')
SET @html=@html+N'</table><br/>'






--8周汇总列表
;
WITH data1 AS
(
SELECT 
CASE WHEN a.ActualReqDate <@SD1 THEN 'w0'
WHEN a.ActualReqDate>=@SD1 AND a.ActualReqDate<@ED1 THEN 'w1'
WHEN a.ActualReqDate>=DATEADD(DAY,7,@SD1) AND a.ActualReqDate<DATEADD(DAY,7,@ED1) 
THEN 'w2'
WHEN a.ActualReqDate>=DATEADD(DAY,14,@SD1) AND a.ActualReqDate<DATEADD(DAY,14,@ED1) 
THEN 'w3'
WHEN a.ActualReqDate>=DATEADD(DAY,21,@SD1) AND a.ActualReqDate<DATEADD(DAY,21,@ED1) 
THEN 'w4'
WHEN a.ActualReqDate>=DATEADD(DAY,28,@SD1) AND a.ActualReqDate<DATEADD(DAY,28,@ED1) 
THEN 'w5'
WHEN a.ActualReqDate>=DATEADD(DAY,35,@SD1) AND a.ActualReqDate<DATEADD(DAY,35,@ED1) 
THEN 'w6'
WHEN a.ActualReqDate>=DATEADD(DAY,42,@SD1) AND a.ActualReqDate<DATEADD(DAY,42,@ED1) 
THEN 'w7'
WHEN a.ActualReqDate>=DATEADD(DAY,49,@SD1) AND a.ActualReqDate<DATEADD(DAY,49,@ED1) 
THEN 'w8'
ELSE '' END Duration
,a.MRPCategory,a.Buyer,a.MCName,a.Code,a.Name,a.SPEC,a.LackAmount
FROM #tempTable a 
),
data2 AS--行专列 汇总每周的欠料数量
(
SELECT * 
FROM data1 a  
PIVOT(SUM(a.LackAmount) FOR duration IN ([w0],[w1],[w2],[w3],[w4],[w5],[w6],[w7],[w8])) AS t
),
data3 AS
(
SELECT code,MAX(a.WhavailiableAmount+a.ReqQty)WhQty,min(a.WhAvailiableAmount)WhAvailiableAmount,MIN(a.SafetyStockQty)SafetyStockQty
FROM #tempTable a  
GROUP BY a.Code 
)
SELECT a.*,b.WhQty,b.WhAvailiableAmount,b.SafetyStockQty INTO #tempW8 
FROM data2  a LEFT JOIN data3 b ON a.Code=b.Code

SELECT @html=@html+N'<H2 bgcolor="#7CFC00">8周未齐套单据汇总列表<span style="color:red;">（安全库存已经在第一周欠料中体现，不欠料为0）</span></H2>'
+N'<table border="1">'
+N'<tr bgcolor="#cae7fc">
<th nowrap="nowrap">MRP分类</th><th nowrap="nowrap">Buyer</th><th nowrap="nowrap">MC责任人</th>
<th nowrap="nowrap">料号</th><th nowrap="nowrap">品名</th><th nowrap="nowrap">规格</th>
<th nowrap="nowrap">逾期欠料</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),@SD1),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,@ED1)),5)+'</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,7,@SD1)),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,DATEADD(DAY,7,@ED1))),5)+'</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,14,@SD1)),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,DATEADD(DAY,14,@ED1))),5)+'</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,21,@SD1)),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,DATEADD(DAY,21,@ED1))),5)+'</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,28,@SD1)),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,DATEADD(DAY,28,@ED1))),5)+'</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,35,@SD1)),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,DATEADD(DAY,35,@ED1))),5)+'</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,42,@SD1)),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,DATEADD(DAY,42,@ED1))),5)+'</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,49,@SD1)),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,DATEADD(DAY,49,@ED1))),5)+'</th>
<th nowrap="nowrap">8周欠料数量</th>
<th nowrap="nowrap">安全库存</th>
<th nowrap="nowrap">库存现有量</th>
</tr>'
+CAST(( SELECT td=ISNULL(a.MRPCategory,''),'',td=ISNULL(a.Buyer,''),'',td=ISNULL(a.MCName,''),'',td=a.Code,'',td=a.Name,'',td=a.SPEC,''
,td=CASE WHEN ISNULL(a.w0,0)>0 THEN 0 ELSE ISNULL(a.w0,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w1,0)-ISNULL(a.SafetyStockQty,0)>0 THEN 0 ELSE ISNULL(a.w1,0)*(-1)+ISNULL(a.SafetyStockQty,0) END ,''
--,td=CASE WHEN ISNULL(a.w1,0)>0 THEN 0 ELSE ISNULL(a.w1,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w2,0)>0 THEN 0 ELSE ISNULL(a.w2,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w3,0)>0 THEN 0 ELSE ISNULL(a.w3,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w4,0)>0 THEN 0 ELSE ISNULL(a.w4,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w5,0)>0 THEN 0 ELSE ISNULL(a.w5,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w6,0)>0 THEN 0 ELSE ISNULL(a.w6,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w7,0)>0 THEN 0 ELSE ISNULL(a.w7,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w8,0)>0 THEN 0 ELSE ISNULL(a.w8,0)*(-1) END ,''
,td=a.WhAvailiableAmount*(-1)+a.SafetyStockQty,''
,td=a.SafetyStockQty,''
,td=a.WhQty
FROM #tempW8 a WHERE a.WhAvailiableAmount<0
ORDER BY ISNULL(a.w0,0),ISNULL(a.w1,0),ISNULL(a.w2,0),ISNULL(a.w3,0),ISNULL(a.w4,0),ISNULL(a.w5,0),ISNULL(a.w6,0),ISNULL(a.w7,0),ISNULL(a.w8,0),a.code FOR XML PATH('tr'),TYPE)AS nvarchar(MAX))+N'</table><br/>'


--马来8周汇总列表
;
WITH data1 as
(
SELECT CASE WHEN a.ActualReqDate <@SD1 THEN 'w0'
WHEN a.ActualReqDate>=@SD1 AND a.ActualReqDate<@ED1 THEN 'w1'
WHEN a.ActualReqDate>=DATEADD(DAY,7,@SD1) AND a.ActualReqDate<DATEADD(DAY,7,@ED1) THEN 'w2'
WHEN a.ActualReqDate>=DATEADD(DAY,14,@SD1) AND a.ActualReqDate<DATEADD(DAY,14,@ED1) THEN 'w3'
WHEN a.ActualReqDate>=DATEADD(DAY,21,@SD1) AND a.ActualReqDate<DATEADD(DAY,21,@ED1) THEN 'w4'
WHEN a.ActualReqDate>=DATEADD(DAY,28,@SD1) AND a.ActualReqDate<DATEADD(DAY,28,@ED1) THEN 'w5'
WHEN a.ActualReqDate>=DATEADD(DAY,35,@SD1) AND a.ActualReqDate<DATEADD(DAY,35,@ED1) THEN 'w6'
WHEN a.ActualReqDate>=DATEADD(DAY,42,@SD1) AND a.ActualReqDate<DATEADD(DAY,42,@ED1) THEN 'w7'
WHEN a.ActualReqDate>=DATEADD(DAY,49,@SD1) AND a.ActualReqDate<DATEADD(DAY,49,@ED1) THEN 'w8'
ELSE '' END Duration
,a.MRPCategory,a.Operators,a.Code,a.Name,a.SPEC,a.LackAmount
FROM #tempMalai a 
),
data2 AS
(
SELECT * 
FROM data1 a  
PIVOT(SUM(a.LackAmount) FOR duration IN ([w0],[w1],[w2],[w3],[w4],[w5],[w6],[w7],[w8])) AS t
),
data3 AS
(
SELECT code,MAX(a.WhavailiableAmount+a.ReqQty)WhQty,min(a.WhAvailiableAmount)WhAvailiableAmount,MIN(b.SafetyStockQty)SafetyStockQty
FROM #tempMalai a   LEFT JOIN dbo.CBO_InventoryInfo b ON a.Itemmaster=b.ItemMaster
GROUP BY a.Code 
)
SELECT a.*,b.WhQty,b.WhAvailiableAmount,CONVERT(DECIMAL(18,0),b.SafetyStockQty)SafetyStockQty INTO #tempMW8 
FROM data2 a LEFT JOIN data3 b ON a.Code=b.Code

SELECT @html=@html+N'<H2 bgcolor="#7CFC00">马来8周未齐套单据汇总列表<span style="color:red;">（安全库存已经在第一周欠料中体现，不欠料为0）</span></H2>'
+N'<table border="1">'
+N'<tr bgcolor="#cae7fc">
<th nowrap="nowrap">MRP分类</th><th nowrap="nowrap">Buyer</th>
<th nowrap="nowrap">料号</th><th nowrap="nowrap">品名</th><th nowrap="nowrap">规格</th>
<th nowrap="nowrap">逾期欠料</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),@SD1),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,@ED1)),5)+'</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,7,@SD1)),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,DATEADD(DAY,7,@ED1))),5)+'</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,14,@SD1)),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,DATEADD(DAY,14,@ED1))),5)+'</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,21,@SD1)),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,DATEADD(DAY,21,@ED1))),5)+'</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,28,@SD1)),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,DATEADD(DAY,28,@ED1))),5)+'</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,35,@SD1)),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,DATEADD(DAY,35,@ED1))),5)+'</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,42,@SD1)),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,DATEADD(DAY,42,@ED1))),5)+'</th>
<th nowrap="nowrap">'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,49,@SD1)),5)+'~'+RIGHT(CONVERT(VARCHAR(20),DATEADD(DAY,-1,DATEADD(DAY,49,@ED1))),5)+'</th>
<th nowrap="nowrap">8周欠料数量</th>
<th nowrap="nowrap">安全库存</th>
<th nowrap="nowrap">库存现有量</th>
</tr>'
+CAST(( SELECT td=ISNULL(a.MRPCategory,''),'',td=ISNULL(a.Operators,''),'',td=a.Code,'',td=a.Name,'',td=a.SPEC,''
,td=CASE WHEN ISNULL(a.w0,0)>0 THEN 0 ELSE ISNULL(a.w0,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w1,0)-ISNULL(a.SafetyStockQty,0)>0 THEN 0 ELSE ISNULL(a.w1,0)*(-1)+ISNULL(a.SafetyStockQty,0) END ,''
--,td=CASE WHEN ISNULL(a.w1,0)>0 THEN 0 ELSE ISNULL(a.w1,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w2,0)>0 THEN 0 ELSE ISNULL(a.w2,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w3,0)>0 THEN 0 ELSE ISNULL(a.w3,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w4,0)>0 THEN 0 ELSE ISNULL(a.w4,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w5,0)>0 THEN 0 ELSE ISNULL(a.w5,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w6,0)>0 THEN 0 ELSE ISNULL(a.w6,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w7,0)>0 THEN 0 ELSE ISNULL(a.w7,0)*(-1) END ,''
,td=CASE WHEN ISNULL(a.w8,0)>0 THEN 0 ELSE ISNULL(a.w8,0)*(-1) END ,''
,td=a.WhAvailiableAmount*(-1)+a.SafetyStockQty,''
,td=a.SafetyStockQty,''
,td=a.WhQty
FROM #tempMW8 a WHERE a.WhAvailiableAmount<0
ORDER BY ISNULL(a.w0,0),ISNULL(a.w1,0),ISNULL(a.w2,0),ISNULL(a.w3,0),ISNULL(a.w4,0),ISNULL(a.w5,0),ISNULL(a.w6,0),ISNULL(a.w7,0),ISNULL(a.w8,0),a.code FOR XML PATH('tr'),TYPE)AS nvarchar(MAX))+N'</table><br/>'

--保存齐套汇总结果集
--保存齐套汇总结果集
INSERT INTO Auctus_FullSetCheckSummary
SELECT a.MRPCategory,a.Buyer,a.MCName,a.Code,a.Name,a.SPEC,ISNULL(a.w0,0), ISNULL(a.w1,0),ISNULL(a.w2,0),ISNULL(a.w3,0),ISNULL(a.w4,0),ISNULL(a.w5,0),ISNULL(a.w6,0),ISNULL(a.w7,0),ISNULL(a.w8,0)
,a.WhQty,a.WhAvailiableAmount,GETDATE()
FROM #tempW8 a
UNION ALL
SELECT a.MRPCategory,a.Operators,'',a.Code,a.Name,a.SPEC,ISNULL(a.w0,0), ISNULL(a.w1,0),ISNULL(a.w2,0),ISNULL(a.w3,0),ISNULL(a.w4,0),ISNULL(a.w5,0),ISNULL(a.w6,0),ISNULL(a.w7,0),ISNULL(a.w8,0)
,a.WhQty,a.WhAvailiableAmount,GETDATE()
FROM #tempMW8 a


declare @strbody varchar(800)
declare @style Varchar(200)
SET @style=	'<style>table,table tr th, table tr td { border:2px solid #cecece; } table {text-align: center; border-collapse: collapse; padding:2px;}</style>'
set @strbody=@style+N'<H2>Dear All,</H2><H2></br>&nbsp;&nbsp;以下是截止'+convert(varchar(19),@Date56,120)+'（不包含'+convert(varchar(19),@Date56,120)+'）的工单齐套数据，请相关人员知悉。谢谢！</H2>'
set @html=@strbody+@html+N'</br><H2>以上由系统发出无需回复!</H2>'


 EXEC msdb.dbo.sp_send_dbmail 
	@profile_name=db_Automail, 
	--@recipients='andy@auctus.cn;huangxinhua@auctus.cn;perla_yu@auctus.cn;hanlm@auctus.cn;gexj@auctus.cn;xiesb@auctus.cn;yangm@auctus.cn;linbh@auctus.cn;
	--lisd@auctus.cn;gaolq@auctus.cn;liyuan@auctus.cn;zengting@auctus.cn;xianghj@auctus.cn;wuwx@auctus.cn;lijq@auctus.cn;
	--licq@auctus.com;zhouxy@auctus.com;lixw@auctus.com;dengyao@auctus.cn;liyan@auctus.cn;lihj@auctus.cn;heqh@auctus.cn;liugq@auctus.cn;zenggq@auctus.cn;liumz@auctus.cn;huanghl@auctus.cn;zhangjie@auctus.com;', 
	@recipients='ufsc@auctus.cn;', 
	@copy_recipients='zougl@auctus.cn;',
	@blind_copy_recipients='liufei@auctus.com',
	--@recipients='liufei@auctus.cn;', 
	--@copy_recipients='zougl@auctus.cn;hudz@auctus.cn;', 
	@subject ='未齐套单据汇总列表（8周）',
	@body = @html,
	@body_format = 'HTML'; 
	



END 