--/*
--备份每日mes排产达成率
--*/
ALTER  PROC [dbo].[sp_Auctus_Mes_DailyRate]
AS
BEGIN
SET NOCOUNT ON 
DECLARE @Date DATETIME =DATEADD(DAY,-1,GETDATE())

--DECLARE @Date datetime ='2020-09-19'
--DECLARE @Date DATETIME='2020-04-07 09:00:00'
--当天已经备份了数据，不再备份
IF NOT EXISTS(SELECT 1 FROM dbo.Auctus_MesDailyRate WHERE FORMAT(@Date,'yyyy-MM-dd')=PlanDate)
BEGIN
	;WITH PlanData AS
	(
	SELECT 
	a.PlanDate,a.WorkOrder,SUM(a.PlanCount)PlanCount,MIN(a.LineId)LineID
	--,(SELECT ISNULL(SUM(t.PlanCount),0) 
	--FROM MESDATA.au_mes.dbo.mxqh_MoPlanCount t 
	--WHERE t.PlanDate<=a.PlanDate AND t.WorkOrder=a.WorkOrder)TotalPlanCount
	,(ISNULL((SELECT SUM(t.FinishSum) 
	FROM MESDATA.au_mes.dbo.mx_PlanExBackNumMain t 
	INNER JOIN MESDATA.au_mes.dbo.mxqh_plAssemblyPlanDetail t1 ON t.AssemblyPlanDetailID=t1.ID
	WHERE t.OpDate<a.PlanDate AND t1.WorkOrder=a.WorkOrder GROUP BY t1.WorkOrder),0)+ISNULL(SUM(a.PlanCount),0))TotalPlanCount
	,(SELECT SUM(t.ProRepairSum) FROM MESDATA.au_mes.dbo.mx_PlanExBackNumData t 
	INNER JOIN MESDATA.au_mes.dbo.mxqh_plAssemblyPlanDetail t1 ON t.AssemblyPlanDetailID=t1.ID
	WHERE t1.WorkOrder=a.WorkOrder GROUP BY t1.WorkOrder)RepairNum
	FROM MESDATA.au_mes.dbo.mxqh_MoPlanCount a
	WHERE 1=1
	--AND WorkOrder='AMO-30191204001'
	AND  a.PlanDate=FORMAT(@Date,'yyyy-MM-dd')
	GROUP BY a.PlanDate,a.WorkOrder
	HAVING SUM(a.PlanCount)>0--存在排产数量为0的排产计划
	),
	U9Data AS
	(
	SELECT b.DocNo,SUM(a.CompleteQty)CompleteQty
	FROM dbo.MO_CompleteRpt a INNER JOIN dbo.MO_MO b ON a.MO=b.ID
	WHERE a.CreatedOn>@Date
	AND a.CreatedOn<DATEADD(DAY,1,@Date)
	AND a.DocState=3
	GROUP BY b.DocNo
	),
	StartInfo AS
	(
	SELECT t.DocNo,ISNULL(SUM(t.StartQty),0)StartedQty
	FROM (
	SELECT b.DocNo,CASE WHEN a.BusinessDirection=0 THEN a.StartQty ELSE (-1)*a.StartQty END StartQty 
	FROM dbo.MO_MOStartInfo a INNER JOIN dbo.MO_MO b ON a.MO=b.ID
	INNER JOIN PlanData c ON b.DocNo=c.WorkOrder
	WHERE 
	--a.CreatedOn>@Date AND 
	a.CreatedOn<DATEADD(DAY,1,@Date)
	) t GROUP BY t.DocNo
	),
	MOPicks AS
	(
SELECT * FROM (
	SELECT t.DocNo,MIN(t.MM)KittingCount,t.ItemFormAttribute
	FROM (
	SELECT a.DocNo,c.DocLineNO,CASE WHEN c.IssuedQty=0 THEN 0 ELSE  c.IssuedQty*a.ProductQty/CONVERT(DECIMAL(18,2),c.ActualReqQty)END MM
	,'KittingCount'+CONVERT(VARCHAR(10),m.ItemFormAttribute) ItemFormAttribute
	FROM MO_MO a INNER JOIN PlanData b  ON a.DocNo=b.WorkOrder INNER JOIN dbo.MO_MOPickList c ON a.ID=c.MO	
	LEFT JOIN dbo.CBO_ItemMaster m ON c.ItemMaster=m.ID
	WHERE c.IssueStyle=0 AND m.ItemFormAttribute IN (9,10)
	AND c.ActualReqQty>0
	) t GROUP BY t.DocNo,t.ItemFormAttribute) t1 PIVOT (MIN(t1.KittingCount) FOR ItemFormAttribute IN (KittingCount9,KittingCount10)) AS tt
	),
	MOArrange AS
    (
	SELECT a.ArrangeDate,a.WorkOrder,b.HrUserName
FROM MESDATA.au_mes.dbo.mxqh_MoLineArrange a INNER JOIN MESDATA.au_mes.dbo.mxqh_MoLineArrangeDtl b ON a.Id=b.ArrangeId
WHERE b.EmpType='L'
	)
	INSERT INTO Auctus_MesDailyRate
	SELECT b.Name LineName,ISNULL(ma.HrUserName,hr.Name)Name,a.PlanDate,w.WorkOrder,m.MaterialCode,m.MaterialName,m.Spec,w.Quantity,a.PlanCount,a.TotalPlanCount
	,CONVERT(INT,ISNULL(u.CompleteQty,0))U9CompleteQty
	,CONVERT(INT,CASE WHEN a.PlanCount-ISNULL(u.CompleteQty,0)-ISNULL(a.RepairNum,0)>=0 THEN a.PlanCount-ISNULL(u.CompleteQty,0)-ISNULL(a.RepairNum,0) ELSE 0 END )
	UnCompleteQty
	,CONVERT(DECIMAL(18,2),(ISNULL(u.CompleteQty,0)+ISNULL(a.RepairNum,0))/CONVERT(DECIMAL(18,2),a.PlanCount)*100) Rate
	,p.KittingCount9,p.KittingCount10,ISNULL(a.RepairNum,0),ISNULL(s.StartedQty,0) StartedQty
	,GETDATE() CopyDate
	FROM PlanData a INNER JOIN MESDATA.au_mes.dbo.mxqh_plAssemblyPlanDetail w ON a.WorkOrder=w.WorkOrder
	INNER JOIN MESDATA.au_mes.dbo.mxqh_Material m ON w.MaterialID=m.Id
	LEFT JOIN MOArrange ma ON a.WorkOrder=ma.WorkOrder AND a.PlanDate=ma.ArrangeDate
	LEFT JOIN MESDATA.au_mes.dbo.baAssemblyLine b ON a.LineId=b.ID
	LEFT JOIN MESDATA.au_mes.dbo.hr_User hr ON b.UserID=hr.Id
	LEFT JOIN U9Data u ON w.WorkOrder=u.DocNo
	LEFT JOIN MOPicks p ON a.WorkOrder=p.DocNo
	LEFT JOIN StartInfo s ON a.WorkOrder=s.DocNo

END 
--备份3天数据
IF NOT EXISTS(SELECT 1 FROM auctus_mesdailyrate4u9 WHERE copydate=FORMAT(GETDATE(),'yyyy-MM-dd'))
BEGIN
INSERT INTO auctus_mesdailyrate4u9
SELECT DISTINCT
         CONCAT(d1.Name,
                    ISNULL(( SELECT v2.Name
                             FROM   Base_DefineValue v1
                                    INNER  JOIN Base_DefineValue_Trl v2 ON v1.ID = v2.ID
                             WHERE  ValueSetDef = 1001708040000182
                                    AND v1.Code = a1.DescFlexField_PrivateDescSeg6
                           ), ''))LineName ,
         a1.DocNo ,
         f.Code ,
         f.Name ,
         f.SPECS ,
         CONVERT(DECIMAL(18, 0), a1.ProductQty) ProductQty,
         CONVERT(DECIMAL(18, 0), a1.TotalStartQty)TotalStartQty ,
         ( SELECT   CONVERT(DECIMAL(18, 0), TotalRcvQty)
               FROM     MO_MO
               WHERE    DocNo = a1.DocNo
             ) TotalCompleteQty,
         CONVERT(DECIMAL(18, 0), a1.ProductQty)
        - ( SELECT  CONVERT(DECIMAL(18, 0), TotalRcvQty)
            FROM    MO_MO
            WHERE   DocNo = a1.DocNo
          )UnCompleteQty ,
         CONVERT(VARCHAR(11), MAX(a1.StartDate), 111) StartDate,
         ISNULL(CONVERT(VARCHAR(20), MIN(a2.StartDatetime), 111), '-') ActualStartDate,
         CONVERT(VARCHAR(11), a1.CompleteDate, 111) CompleteDate,
         ISNULL(DATEDIFF(DAY, a1.CompleteDate,
                             CONVERT(VARCHAR(100), GETDATE(), 111))
                    - CAST(3 AS INT), '-') DelayDays,
         ISNULL(CONVERT(VARCHAR(20), DATEADD(DAY,
                                                 DATEDIFF(DAY,
                                                          MIN(a1.StartDate),
                                                          CONVERT(VARCHAR(100), a1.CompleteDate, 111))
                                                 + CAST(3 AS INT),
                                                 MIN(a2.StartDatetime)), 111) ,
                    '-') SCompleteDate,
         ISNULL(( CASE WHEN CONVERT(VARCHAR(20), DATEDIFF(DAY,
                                                              DATEADD(DAY,
                                                              DATEDIFF(DAY,
                                                              MIN(a1.StartDate),
                                                              CONVERT(VARCHAR(100), a1.CompleteDate, 111))
                                                              + CAST(3 AS INT),
                                                              MIN(a2.StartDatetime)),
                                                              CONVERT(VARCHAR(100), GETDATE(), 111)), 111) < 0
                           THEN NULL
                           ELSE CONVERT(VARCHAR(20), DATEDIFF(DAY,
                                                              DATEADD(DAY,
                                                              DATEDIFF(DAY,
                                                              MIN(a1.StartDate),
                                                              CONVERT(VARCHAR(100), a1.CompleteDate, 111))
                                                              + CAST(3 AS INT),
                                                              MIN(a2.StartDatetime)),
                                                              CONVERT(VARCHAR(100), GETDATE(), 111)), 111)
                      END ), '-') DelayDate,FORMAT(GETDATE(),'yyyy-MM-dd')CopyDate
FROM    MO_MO a1
        LEFT JOIN CBO_Department_Trl d1 ON d1.ID = a1.Department
        LEFT JOIN MO_MOStartInfo a2 ON a1.ID = a2.MO
        LEFT JOIN dbo.CBO_ItemMaster f ON a1.ItemMaster = f.ID
WHERE   a1.Org = 1001708020135665
        AND a1.Cancel_Canceled != 1 --and  IsHoldRelease <> 1
        AND a1.MODocType != 1001803210037505
        AND DATEDIFF(DAY, a1.CompleteDate,
                     CONVERT(VARCHAR(100), GETDATE(), 111)) > 3
        AND a1.DocState NOT IN ( 3, 0 )
        AND NOT EXISTS ( SELECT 1
                         FROM   MO_MO c
                         WHERE  a1.ID = c.ID
                                AND c.BusinessType = 48 )
GROUP BY d1.Name ,
        a1.DescFlexField_PrivateDescSeg6 ,
        a1.DocNo ,
        a1.TotalStartQty ,
        a1.StartDate ,
        a1.CompleteDate ,
        a1.ProductQty ,
        f.Name ,
        f.Code ,
        f.SPECS;
END 
;

SET NOCOUNT OFF

WHILE NOT EXISTS(SELECT 1 FROM dbo.Auctus_MesDailyRate WHERE PlanDate=FORMAT(@Date,'yyyy-MM-dd'))
BEGIN
	IF @Date<'2020-09-01'
	BEGIN
		BREAK;
	END 
	SET @Date=DATEADD(DAY,-1,@Date)
	IF EXISTS(SELECT 1 FROM dbo.Auctus_MesDailyRate WHERE PlanDate=FORMAT(@Date,'yyyy-MM-dd'))
	BEGIN
		BREAK;
	END 
END	

SELECT  TOP 1 1 MailNo, 'BDPRecipients@auctus.cn,liufei@auctus.com,zuzhang@auctus.cn' AS MailTo, 'DailyRate.xml' AS  XmlName, '刘飞' CHI_NAME, 'dddsfal' FORM_TYPE		
--SELECT  TOP 1 1 MailNo, 'liufei@auctus.com,hudz@auctus.cn' AS MailTo, 'DailyRate.xml' AS  XmlName, '刘飞' CHI_NAME, 'dddsfal' FORM_TYPE		
--SELECT  TOP 1 1 MailNo, 'liufei@auctus.com' AS MailTo, 'DailyRate.xml' AS  XmlName, '刘飞' CHI_NAME, 'dddsfal' FORM_TYPE		
,FORMAT(@Date,'yyyy-MM-dd')NowDate,DATENAME(WEEKDAY,@Date)WD

SELECT 1 MailNo
,a.LineName,a.Name,a.PlanDate,a.WorkOrder,a.MaterialCode,a.MaterialName,a.Spec,a.Quantity,a.PlanCount
,a.TotalPlanCount,a.U9CompleteQty,ISNULL(a.NeedRepairNum,0)NeedRepairNum,a.UnCompleteQty,a.Rate
,CASE WHEN ISNULL(a.KittingCount9,0)=0 THEN '齐套'
WHEN a.KittingCount9-CASE WHEN a.TotalPlanCount>a.Quantity THEN a.Quantity ELSE a.TotalPlanCount END>=0 THEN '齐套'
ELSE '不齐套' END IsKitting9
,CASE WHEN ISNULL(a.KittingCount9,0)=0 THEN ''
WHEN KittingCount9-CASE WHEN a.TotalPlanCount>a.Quantity THEN a.Quantity ELSE a.TotalPlanCount END>=0 THEN ''
ELSE 'background:red;' END IsKittingStyle9
,CASE WHEN ISNULL(a.KittingCount10,0)=0 THEN '齐套'
WHEN a.KittingCount10-CASE WHEN a.TotalPlanCount>a.Quantity THEN a.Quantity ELSE a.TotalPlanCount END>=0 THEN '齐套'
ELSE '不齐套' END IsKitting10
,CASE WHEN ISNULL(a.KittingCount10,0)=0 THEN ''
WHEN KittingCount10-CASE WHEN a.TotalPlanCount>a.Quantity THEN a.Quantity ELSE a.TotalPlanCount END>=0 THEN ''
ELSE 'background:red;' END IsKittingStyle10
,ROW_NUMBER()OVER(ORDER BY a.LineName)RN
FROM Auctus_MesDailyRate a WHERE a.PlanDate=FORMAT(@Date,'yyyy-MM-dd')
		
--SELECT    1 MailNo,ROW_NUMBER() OVER ( ORDER BY DocNo DESC ) RN,* FROM dbo.Auctus_MesDailyRate4u9  WHERE CopyDate=FORMAT(GETDATE(),'yyyy-MM-dd')

DECLARE @Date2 DATE=GETDATE()
;
WITH TodayData AS
(
SELECT *FROM dbo.Auctus_MesDailyRate4U9 a WHERE CONVERT(DATE,a.CopyDate)=@Date2
),
YesterdayData AS
(
SELECT * FROM dbo.Auctus_MesDailyRate4U9 a WHERE CONVERT(DATE,a.CopyDate)=DATEADD(DAY,-1,@Date2)
)
SELECT 
1 MailNo,ROW_NUMBER() OVER ( ORDER BY ISNULL(a.DocNo,b.DocNo) DESC ) RN,
ISNULL(a.LineName,b.LineName)LineName,
ISNULL(a.DocNo,b.DocNo)DocNo,
ISNULL(a.Code,b.Code)Code,
ISNULL(a.Name,b.Name)Name,
ISNULL(a.SPECS,b.SPECS)SPECS,
ISNULL(a.ProductQty,b.ProductQty)ProductQty,
ISNULL(a.TotalStartQty,b.TotalStartQty)TotalStartQty,
ISNULL(a.TotalCompleteQty,b.TotalCompleteQty)TotalCompleteQty,
ISNULL(a.UnCompleteQty,b.UnCompleteQty)UnCompleteQty,
ISNULL(a.StartDate,b.StartDate)StartDate,
ISNULL(a.ActualStartDate,b.ActualStartDate)ActualStartDate,
ISNULL(a.CompleteDate,b.CompleteDate)CompleteDate,
ISNULL(a.DelayDays,b.DelayDays)DelayDays,
ISNULL(a.SCompleteDate,b.SCompleteDate)SCompleteDate,
ISNULL(a.DelayDate,b.DelayDate)DelayDate,
CASE WHEN ISNULL(a.DocNo,'')='' AND ISNULL(b.DocNo,'')!='' AND EXISTS(SELECT 1 FROM dbo.MO_MO t WHERE t.DocState=3 AND t.DocNo=b.docno) THEN 'background-color:green;'
WHEN ISNULL(a.DocNo,'')!='' AND ISNULL(b.DocNo,'')!='' THEN ''
WHEN ISNULL(a.DocNo,'')!='' AND ISNULL(b.DocNo,'')='' THEN 'background-color:#19a9d5;'
ELSE '' END CompareStyle
FROM TodayData a FULL JOIN YesterdayData b ON a.DocNo=b.DocNo
ORDER BY RN
END 

